.registration {
  &__title {
    text-align: center;
    padding: 5px 0;

    @media only screen and(min-width: 768px) {
      padding: 10px 0;
    }

    @media only screen and(min-width: 1200px) {
      padding: 15px 0;
    }
  }

  &__input {
    display: inline-block;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: inherit;
    font-family: inherit;
    color: black;

    @media only screen and (min-width: 768px) {
      padding: 10px;
    }
    @media only screen and (min-width: 1200px) {
      padding: 15px;
    }

    &--error {
      border: 3px solid #e74c3c;
      color: #f39c12;
    }
  }
  &__select-wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin: 10px 0;
    &:hover {
      background: #20c997;
    }
  }
  &__select {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    appearance: none;
    opacity: 0;
    z-index: 2;

    &:hover ~ .registration__select-button {
      background: rgb(0, 137, 102);
    }
  }
  &__select-button {
    position: relative;
    display: inline-block;
    z-index: 1;
    width: 100%;
    user-select: none;
    display: inline-block;
    position: relative;
    padding: 5px;
    border: 1px solid #cbd1d4;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 0;
    transition-property: background-color, color, box-shadow;
    color: #fff;
    border-color: #00bc8c;
    background-color: #00bc8c;
    text-align-last: left;
    transition: all 0.5s ease-in-out;

    @media only screen and (min-width: 768px) {
      padding: 10px;
    }
    @media only screen and (min-width: 1200px) {
      padding: 15px;
    }
  }
  &__submit {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background: #375a7f;
    border-color: #375a7f;
    font-size: inherit;
    font-family: inherit;
    color: #fff;
    margin: 10px 0;
    transition: all 0.5s ease-in-out;
    &:hover {
      background: rgb(40, 65, 91);
      cursor: pointer;
    }
    &:disabled {
      background: gray;
      &:hover {
        cursor: not-allowed;
      }
    }

    @media only screen and (min-width: 768px) {
      padding: 10px;
    }
    @media only screen and (min-width: 1200px) {
      padding: 15px;
    }
  }
}
