.log-reg {
  padding: 2%;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  &__curent-user {
    text-align: center;
  }

  &__button {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background: #375a7f;
    border-color: #375a7f;
    font-size: inherit;
    font-family: inherit;
    color: #fff;
    margin: 10px 0;
    transition: all 0.5s ease-in-out;
    &:hover {
      background: rgb(40, 65, 91);
      cursor: pointer;
    }

    @media only screen and (min-width: 768px) {
      padding: 10px;
    }
    @media only screen and (min-width: 1200px) {
      padding: 15px;
    }
  }
}
