.contacts {
  text-align: center;
  &__title {
    text-align: center;
    padding: 10px 0;
  }
  &__subtitle {
    text-align: center;
    padding: 10px 0;
  }
  &__phone {
    text-decoration: none;
    color: #fff;
  }
}
