.managers-block {
  padding: 2%;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  &__title {
    padding: 5px 0 10px;
    text-align: center;
  }
  &__links {
    display: flex;
    justify-content: center;
  }
  &__link {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
  }
  &__active-route {
    background: #3498db;
  }
}
