.people {
  padding: 5px;
  border: 1px solid #fff;
  text-align: center;
  width: 100%;
  background: #444;

  @media only screen and (min-width: 992px) {
    width: 20%;
  }

  &__title {
    padding: 5px 0;
  }
  &__total {
    text-decoration: underline;
  }
}
